<div class="container mt-5">
  <div class="card shadow">
    <div class="head1">
      <h4 class="content">♻️ Request Leave</h4>
    </div>
    <div class="card-body">
    <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="typeId" class="form-label">Leave Type</label>
    <select
      id="typeId"
      class="form-control"
      formControlName="typeId"
    >
      <option value="" disabled selected>Select Leave Type</option>
     <option *ngFor="let type of Type" [value]="type.Id">
  {{ type.Type }}
</option>

    </select>
    
    <div *ngIf="leaveForm.get('typeId')?.touched && leaveForm.get('typeId')?.hasError('required')" class="text-danger small">
      Leave type is required.
    </div>
  </div>



        <div class="mb-3">
          <label for="reason" class="form-label">Reason</label>
          <textarea
            id="reason"
            class="form-control"
            formControlName="reason"
            rows="3"
          ></textarea>
          <div *ngIf="hasError('reason', 'required')" class="text-danger small">
            Reason is required.
          </div>
        </div>

        <div class="mb-3">
          <label for="startDate" class="form-label">Start Date</label>
          <input
            type="date"
            id="startDate"
            class="form-control"
            formControlName="startDate"
          />
          <div *ngIf="hasError('startDate', 'required')" class="text-danger small">
            Start date is required.
          </div>
        </div>

        <div class="mb-3">
          <label for="endDate" class="form-label">End Date</label>
          <input
            type="date"
            id="endDate"
            class="form-control"
            formControlName="endDate"
          />
          <div *ngIf="hasError('endDate', 'required')" class="text-danger small">
            End date is required.
          </div>
        </div>

        <button type="submit" class="btn btn-success w-100" [disabled]="leaveForm.invalid">
          Submit Leave Request
        </button>
      </form>
    </div>
  </div>
</div>
