<!-- Error message -->
<p *ngIf="errormessage" class="error">{{errormessage}}</p>

<!-- User List
<ul *ngIf="!isLoading && User.length > 0; else noUsers">
  <li *ngFor="let user of User">
      <strong>{{ user.EmployeeName }}</strong><br />
      <strong>{{ user.Email }}</strong><br />
      <strong>{{ user.DepartmentName }}</strong>
  </li>
</ul> -->

<!-- No User Message -->
<ng-template #noUsers>
    <p *ngIf="!isLoading && User.length === 0 && !errormessage">No User Found</p>
</ng-template>

<div>
  <h1> Login </h1>
  <form [formGroup]="userForm" (ngSubmit)="login()">
      <label>Username:</label>
      <input formControlName="username" type="text"/>
      <div class="error" *ngIf="hasError('username','required')">Username is required</div>
      <br />

      <label>Password:</label>
      <input formControlName="password" type="password"/>
      <div class="error" *ngIf="hasError('password','required')">Password is required</div>
      <br />

      <button type="submit">Login</button>
  </form>
</div>
