<div>
  <h1> Login </h1>
  <form [formGroup]="userForm" (ngSubmit)="login()">
      <label>Username:</label>
      <input formControlName="username" type="text"/>
    <div class="error" *ngIf="userForm.get('username')?.touched && hasError('username','required')">
     Username is required
    </div>
      <br />

      <label>Password:</label>
      <input formControlName="password" type="password"/>
      
<div class="error" *ngIf="userForm.get('password')?.touched && hasError('password','required')">
  Password is required
</div>
<div class="error" *ngIf="userForm.get('password')?.hasError('minlength')">
  Minimum length 4
</div>

      <br />

      <button type="submit">Login</button>
      <br />
      <br />
     <a [routerLink]="['/register']">Register as User</a>

  </form>
</div>
