<!-- No Type Message  -->
<ng-template #noType>
  <p *ngIf="!isLoading && Type.length === 0 && !errormessage">No Type Found</p>
</ng-template>

<!-- Error Message -->
<p *ngIf="errormessage" class="error">{{ errormessage }}</p>


<table *ngIf="!isLoading && Type.length > 0; else noType" class="type-table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let type of Type">
      <td>{{ type.Type }}</td>
      <td>{{ type.Description }}</td>
    </tr>
  </tbody>
</table>
<button (click)="toggleForm()" class="add-btn">➕ Add Type</button>
<form [formGroup]="userForm" *ngIf="showForm">
  <label>Type Name:</label>
  <input formControlName="Type" type="text" placeholder="e.g., Sick Leave" />

  <label>Description:</label>
  <input formControlName="Description" type="text" placeholder="Optional description" />

  <button type="button" (click)="addLeaveType()">Submit</button>
</form>
